

.container{
  overflow-x: hidden;
  margin: 5px;
  font-size: 13px;
}

.read-more-button-practice {
    background-color: #157a55; /* Green */
    border: none;
    color: white;
    padding: 10px 30px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 20px;
    transition-duration: 0.4s;
    float: left;
    margin: 130px; /* Adjust margin as needed */
    margin-right: 20%; /* Adjust margin-right as needed */
    margin-top: 0; /* Adjust margin-top as needed */
}


.read-more-button:hover, .diabutton:hover{
  background-color: #042217; /* Green */
  border: none;
  color: white;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 20px;
  transition-duration: 0.4s;
  float: left;
}


.diabutton{
width: 100%;}

dialog::backdrop {
  opacity: 0.75;
}

.team-button{
  margin: 0;
  position: absolute;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.center-button{
  margin: 0 auto;
  margin-left: 40.7%;
  margin-right: auto;
}




.item1 { grid-area: video; }
.item2 { grid-area: description; }

.grid-container {
  display: grid;
  grid-template-areas:
  'video description'
  ;
  margin-right: 3%;
  margin-left: 3%;
  width: auto;
  padding-top: 10px;
  padding-bottom: 10px;
}
.grid-item {
  padding: 20px;
  border-top: 5px solid #3e8e41;
  border-bottom: 5px solid #3e8e41;
  font-size: 20px;
}

.single-container{
  margin-right: 3%;
  margin-left: 3%;
}

.centered-grid-item {
  padding: 20px;
  border-top: 5px solid #3e8e41;
  border-bottom: 5px solid #3e8e41;
  font-size: 20px;
  text-align: center;
}



.p-forms{
  font-size: 120%;
}



.link-video{
  width: 100%;
}

.center{
  text-align: center;
}

.team-profession{
  padding-left: 10%;
  font-size: 30px;
  text-align: left;
}

.video-description{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  font-size: 1.7vw;
}

/**/
.dropbtn {
  background-color: #04AA6D;
  color: white;
  padding: 17px;
  font-size: 30px;
  border: none;
  cursor: pointer;
  border-radius: 20px;
  margin: 5px;

}

.dropdown {
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 16px;
  transition-duration: 0.4s;
  float: right;
}

.dropdown-content-conditions {
    display: none;
    position: fixed;
    text-align: center;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 20px;
}

.white-background {
    display: block;
    margin: 0 auto; /* Center horizontally */
    width:55%;

    text-align: center;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 20px;
}

.dropdown-content {
  display: none;
  position: fixed;
  text-align: center;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  border-radius: 20px;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}

.dropdown-conditions:hover .dropdown-content {
    display: block;
}

.dropdown-conditions:hover .dropbtn {
    background-color: #3e8e41;
}

.text {
    text-align: center;

    font-weight:bold;

    margin-left: 15vw; /* Center horizontally */
    margin-right: 15vw; /* Center horizontally */

    width:70vw;

  }
.moreText {
    display: none;
    transform: translateX(325%);
    font-size: 35px;
}

.read-more-btn {
    background-color: #00442b; /* Green */
    border: none;
    color: white;
    padding: 17px 20px;
    text-decoration: none;
    font-size: 30px;
    transition-duration: 0.4s;
    border-radius: 20px;
    display:block;
    margin-left: 15vw; /* Center horizontally */
    margin-right: 15vw; /* Center horizontally */

    width:70vw;

}

.vl {

    border-left: 6px solid #04AA6D;
    height: 753px;
    position: absolute;
    left: 30%;
    margin-left: -3px;
    top: 0;
}

.text.show-more .moreText {
    display: inline;
    font-family: Arial, Helvetica, sans-serif;
}



.home-button{
  background-color: #04AA6D;
  border: 1px solid white;
  color: white;
  padding: 17px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 30px;
  transition-duration: 0.4s;
  padding: 2vw;
  margin: 6vw;
  border-radius: 25px;
}

.home-button:hover{
  background-color: #284644;
  border: 1px solid white;
  color: white;
  padding: 2vw;
  margin: 6vw;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 30px;
  transition-duration: 0.4s;
}

.itemA { grid-area: blogs; }
.itemB { grid-area: other; }
.itemC { grid-area: hours; }
.itemD { grid-area: contact; }




.land-Acknowledgment{
  text-align: center;
  width: 87vw;
  padding: 5%;
}

.doctor-description{
  font-size: 22px;
}

.doctor-photo{
  width:auto;
}

.doctor-name{
  font-size: 22px;
  font-weight: bold;
  color: #36a875;
}

.our-service-layout{
  padding-left: 15%;
  padding-right: 15%;
  width: 70vw;
  font-size: 25px;
}

.google-map{
  width: 40vw;
}

.itemtext { grid-area: texts; }
.itemimage { grid-area: image; }

.blog-grid-container {
  display: grid;
  grid-template-areas:
  'texts image'
  ;
  margin-right: 3%;
  margin-left: 3%;
  width: auto;
  padding-top: 10px;
  padding-bottom: 10px;
}
.blog-grid-item {
  padding: 20px;
  border-top: 5px solid #3e8e41;
  border-bottom: 5px solid #3e8e41;
  font-size: 20px;
}

@media only screen and (max-width:1100px) {
  /* For mobile phones: */
    .header-button, .patient-portal, .header-button:hover, .patient-portal:hover {
    background-color: aqua;
    display: none;
  }

  .grid-container{
    grid-template-areas:
  'video'
  'description'
  ;
  width: 85vw;

  }

  .blog-grid-container{
    width: 85vw;

  }

  .itemimage{
    display: none;
  }

  .grid-item{
    width: 75vw;
  }

  .centered-grid-item{
    width: 75vw;
  }

  .land-Acknowledgment{
    width: 80vw;
  }

  .menu-button{
    display: block;
  }


  .column {
    width: 100%;
  }


  .link-video{
    width: 100%;
  }

  .video-description{
    font-size: 30px;
    font-size: 4vw;
  }

  .dropbtn{
    display: none;
  }

  .home-grid-item{
    font-size: 100px;
  }

  .practice-image{
    width: 100%;
  }

  .our-service-layout{
    padding-left: 10px;

  }

  .doctor-photo{
    width: 70vw;
  }

  .team-profession{
    text-align: center;
    width: 50vw;
  }

  .doctor-description{
    font-size: 4vw;
  }

  .google-map{
    width:80vw;
  }
}

.patient-forums em{
    color:blue;
}

.patient-forums strong {
    color: blue;
}

.patient-forums small {
    position:relative;
    right: 122px;

}

.service-layout {
    padding-left: 15%;
    padding-right: 15%;
    width: 70vw;
    font-size: 25px;
}

/*Andreas*/
label {
    font-size: 23px;
    font-weight: bold;
}

.required {
    position: absolute;
    color: red; /*Set the color of the asterisk */
    margin-left: 5px; /* Adjust the spacing between the label text and the asterisk */
    font-size: 18px;
    line-height: 1;
}

input[type="text"] {
    height: 40px; /* Adjust the height as needed */

    width: 40%;
    font-size: 20pt; /* Adjust the font size as needed */
}


.hours {
    position: absolute;
    right: 40%;
    inline-size: 217px;
}


.contact {
    position: absolute;
    right: 15%;
    inline-size: 220px;
}

    .hours p, .contact p {
        font-size: 20px;
        overflow-wrap: break-word;
    }

    .hours h1, .contact h1 {
        color: #FAC898;
    }

.email h2 {
    color: #FAC898;
}


label {
    color: black;
    height: 200px;
    font-size: 20pt;
}

.contact em {
    color: orange;
}

send {
    text-decoration: none;
    color: green;
}

.insurance {
    padding-left: 9.5%;
    width: 90%;
    overflow: visible;
    overflow-wrap: break-word;
    /*padding: 9%;*/
}

    .insurance p, .insurance b {
        font-size: 22px;
        inline-size: 76%;
        line-height: 1.5;
        word-wrap: break-word !important;
    }

    .insurance h1 {
        inline-size: 100%;
    }

    .insurance pre {
        font-size: 22px;

    }

    .insurance a {
        color: black;
    }

    .insurance h3 {
        font-size: 22px;
        font-weight: bold;
    }

.our-service-layout {
    padding-left: 15%;
    padding-right: 15%;
    width: 70vw;
    font-size: 25px;
}

    .our-service-layout u {
        color: blue;
        font-style: italic;
        text-decoration: none;
    }

    .our-service-layout ul {
        -webkit-column-count: 2;
        -webkit-column-gap: 50px;
    }

    .our-service-layout b {
        color: blue;
    }


    .our-service-layout small {
        font-size: 10px;
        padding-left: 12.5%;
        margin-top: 0;
    }

    .our-service-layout p {
        font-size: 22px;
        inline-size: 76%;
        line-height: 1.5;
        word-wrap: break-word !important;
    }


    .our-service-layout-services {
    padding-left: 15%;
    padding-right: 15%;
    width: 70vw;
    font-size: 25px;
}


our-service-layout-services p {
    font-size: 22px;
    inline-size: 76%;
    line-height: 1.5;
    word-wrap: break-word !important;
}

b{
    color: green;
}
