

html {
  overflow-x: hidden;
  min-height: 100vh;

}

body {
    background-color: lightgray;
    margin: 0%;
    min-width: 1000px;
    max-width: 100%;
    overflow-x: hidden;
}

div{
  overflow-x: hidden;
}

.subsection{
  font-size: 1px;
}

.page-title{
  text-align: center;
  font-weight: bold;
  width: 100vw;
  font-size: 45px;
}

a {
  color: #2aad2a;
  text-decoration: none;
}

.link{
  color: #2aad2a;
  transition-duration: 0.4s;
}

.link:hover{
  color: #86ce86;
}
.header {

    height: auto;
    width: 100%;
    padding: 20px;
    background-color: #cacaca;
    z-index: 100;
    position: fixed;
    top: 0;
  }

.header-button {
    background-color: #04AA6D; /* Green */
    border: none;
    color: white;
    padding: 17px 20px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 30px;
    transition-duration: 0.4s;
    float: right;
    border-radius: 20px;
    margin: 5px;

  }

.header-button:hover {
    background-color: #357357; /* Green */
    border: none;
    color: white;
    padding: 17px 20px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 30px;
    transition-duration: 0.4s;
    float: right;
  }

.patient-portal{
    background-color: #a4ac35; /* Green */
    border: none;
    color: white;
    padding: 17px 20px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 30px;
    transition-duration: 0.4s;
    float: right;
    margin: 5px;

    margin-right: 3%;
    border-radius: 20px;

}

.patient-portal:hover{
    background-color: #373a09; /* Green */
    border: none;
    color: white;
    padding: 15x 20px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 30px;
    transition-duration: 0.4s;
    float: right;
    margin: 5px;

    margin-right: 3%;

}

.footer{
    height: auto;
    width: auto;
    padding: 20px;
    background-color: #284644;
    z-index: 99;
    position: static;
    bottom: 0;
    padding-bottom: 5%;

    color: #cacaca;
}

.read-more-button , .diabutton{
  background-color: #157a55; /* Green */
  border: none;
  color: white;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 20px;
  transition-duration: 0.4s;
  float: left;
}

.read-more-button:hover, .diabutton:hover{
  background-color: #042217; /* Green */
  border: none;
  color: white;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 20px;
  transition-duration: 0.4s;
  float: left;
}

u {
  font-weight: bold;
}

.diabutton{
width: 100%;}

dialog::backdrop {
  opacity: 0.75;
}

.team-button{
  margin: 0;
  position: absolute;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.practice-image{
  width: 40vw;
}

video{
  display: inline-block;
    width: 400px;
    margin: 4px;
    text-align: center;
    border: 1px solid #cccccc;
}

.container{

  margin: 5px;
  font-size: 13px;
}

.item1 { grid-area: video; }
.item2 { grid-area: description; }

.grid-container {
  display: grid;
  grid-template-areas:
  'video description'
  ;
  margin-right: 3%;
  margin-left: 3%;
  width: auto;
  padding-top: 10px;
  padding-bottom: 10px;
}
.grid-item {
  padding: 20px;
  border-top: 5px solid #3e8e41;
  border-bottom: 5px solid #3e8e41;
  font-size: 20px;
}

.single-container{
  margin-right: 3%;
  margin-left: 3%;
}

.centered-grid-item {
  padding: 20px;
  border-top: 5px solid #3e8e41;
  border-bottom: 5px solid #3e8e41;
  font-size: 20px;
  text-align: center;
}


/* mobile menu */
.topnav a.icon {
  background: #888888;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  
}

.topnav {
  overflow: hidden;
  background-color: #888888;
  position: relative;
}

.topnav #myLinks {
  display: none;
}

.topnav a {
  color: #162ba1;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 25px;
  display: block;

  background-color: #888888;
  border: none;
  color: rgb(255, 255, 255);
  padding: 15px 32px;
  text-align: left;
  margin-right: 20px;
  transition-duration: 0.4s;

}

.topnav a:hover {
  background-color: #ddd;
  color: black;
  transition-duration: 0.1s;
}

.active {
  background-color: #04AA6D;
  color: white;
}

/* mobile menu end */


.menu-button{
  background-color: #888888;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: none;
  font-size: 40px;
  float: right;
  margin-right: 5%;
  
}

.link-video{
  width: 100%;
}

.center{
  text-align: center;
}

.team-profession{
  padding-left: 10%;
  font-size: 30px;
  text-align: left;
}

.video-description{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  font-size: 1.7vw;
}

/**/
.dropbtn {
  background-color: #04AA6D;
  color: white;
  padding: 17px;
  font-size: 30px;
  border: none;
  cursor: pointer;
  border-radius: 20px;
  margin: 5px;

}

.dropdown {
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 16px;
  transition-duration: 0.4s;
  float: right;
}

.dropdown-content {
  display: none;
  position: fixed;
  text-align: left;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  border-radius: 20px;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}

.home-button{
  background-color: #04AA6D;
  border: 1px solid white;
  color: white;
  padding: 17px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 30px;
  transition-duration: 0.4s;
  padding: 2vw;
  margin: 6vw;
  border-radius: 25px;
}

.home-button:hover{
  background-color: #284644;
  border: 1px solid white;
  color: white;
  padding: 2vw;
  margin: 6vw;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 30px;
  transition-duration: 0.4s;
}

.itemA { grid-area: blogs; }
.itemB { grid-area: other; }
.itemC { grid-area: hours; }
.itemD { grid-area: contact; }
.footer-grid-container {
  display: grid;
  grid-template-areas:
  'blogs other hours contact'
  ;
  margin-right: 3%;
  margin-left: 3%;
  width: 90vw;
  justify-content: center;
}
.footer-grid-item {
  padding: 20px;
  color: white;
  font-size:large;
}



.land-Acknowledgment{
  text-align: center;
  width: 87vw;
  padding: 5%;
}

.doctor-description{
  font-size: 22px;
}

.doctor-photo{
  width:auto;
}

.doctor-name{
  font-size: 22px;
  font-weight: bold;
  color: #36a875;
}

.our-service-layout{
  padding-left: 15%;
  padding-right: 15%;
  width: 70vw;
  font-size: 25px;
}

.google-map{
  width: 40vw;
}

@media only screen and (max-width:1100px) {
  /* For mobile phones: */
  .header-button, .patient-portal, .header-button:hover, .patient-portal:hover {
    background-color: aqua;
    display: none;
  }

  .grid-container{
    grid-template-areas:
  'video'
  'description'
  ;
  width: 85vw;

  }

  .grid-item{
    width: 75vw;
  }
  
  .centered-grid-item{
    width: 75vw;
  }

  .land-Acknowledgment{
    width: 80vw;
  }

  .menu-button{
    display: block;
  }


  .column {
    width: 100%;
  }


  .link-video{
    width: 100%;
  }

  .video-description{
    font-size: 30px;
    font-size: 4vw;
  }

  .dropbtn{
    display: none;
  }

  .home-grid-item{
    font-size: 100px;
  }

  .practice-image{
    width: 100%;
  }

  .our-service-layout{
    padding-left: 10px;

  }

  .doctor-photo{
    width: 70vw;
  }

  .team-profession{
    text-align: center;
    width: 50vw;
  }

  .doctor-description{
    font-size: 4vw;
  }

  .google-map{
    width:80vw;
  }
}