body {
    background-color: lightgray;
    margin: 0%;
}

.header {

    height: auto;
    width: 100%;
    padding: 20px;
    background-color: #cacaca;
    z-index: 99;
    position: fixed;
    top: 0;
  }

.header-button {
    background-color: #04AA6D; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s;
    float: right;

  }

.header-button:hover {
    background-color: #357357; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s;
    float: right;
  }

.patient-portal{
    background-color: #c5cf3a; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s;
    float: right;
}

.patient-portal:hover{
    background-color: #373a09; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s;
    float: right;
}

footer{
    height: auto;
    width: 100%;
    padding: 20px;
    background-color: #1b7e03;
    z-index: 99;
    position: static;
    top: 0;
}